# FODS Assignment 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./data.csv")

In [3]:
df.head()

          X         Y
0  0.987988  5.098368
1  0.719720  2.516654
2 -0.403403  0.337961
3  0.107107  0.737320
4  0.345345 -0.780955

## TASK 1

In [4]:
mean_y = df['Y'].mean()
std_y = df['Y'].std()

### Normalizing

In [7]:
df['Y'] = (df['Y'] - mean_y) / std_y

In [8]:
df.tail()

            X         Y
995  0.671672  1.174380
996 -0.615616 -0.512541
997  0.259259  0.062779
998  0.119119 -0.392207
999  0.369369 -0.226423

In [17]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
train_set, test_set = df['Y'][:800], df['Y'][800:]

In [18]:
print("Training Set:")
print(train_set)
print("\nTesting Set:")
print(test_set)

Training Set:
0     -1.119315
1     -2.033919
2      0.660240
3     -0.348264
4      0.315293
         ...
795    0.023610
796   -0.277378
797   -0.154319
798    0.403846
799   -1.061514
Name: Y, Length: 800, dtype: float64

Testing Set:
800    0.232092
801   -0.103215
802    1.248083
803   -1.053501
804   -0.829054
         ...
995    0.093957
996    0.568719
997   -1.053091
998   -1.197638
999   -1.652367
Name: Y, Length: 200, dtype: float64