# FODS Assignment 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./data.csv")

In [3]:
df.head()

          X         Y
0  0.987988  5.098368
1  0.719720  2.516654
2 -0.403403  0.337961
3  0.107107  0.737320
4  0.345345 -0.780955

In [4]:
mean_y = df['Y'].mean()
std_y = df['Y'].std()

In [22]:
df = df.sample()
x_train, x_test = df['X'][:800], df['X'][800:]

In [20]:
x_train.describe()

count    800.000000
mean       0.008178
std        0.576866
min       -1.000000
25%       -0.491992
50%        0.002002
75%        0.502002
max        1.000000
Name: X, dtype: float64

In [21]:
x_test.describe()

count    200.000000
mean      -0.032713
std        0.583896
min       -0.981982
25%       -0.556056
50%       -0.025025
75%        0.484484
max        0.967968
Name: X, dtype: float64

In [6]:
std_y

np.float64(1.8091349909170023)

In [7]:
df['Y'] = (df['Y'] - mean_y) / std_y

In [8]:
df.tail()

            X         Y
995  0.671672  1.174380
996 -0.615616 -0.512541
997  0.259259  0.062779
998  0.119119 -0.392207
999  0.369369 -0.226423

In [9]:
mean_t = df['Y'].mean()
std_t = df['Y'].std()

In [10]:
mean_t

np.float64(3.552713678800501e-18)

In [11]:
std_t

np.float64(1.0)